/* Collection Portlet */

#content .rtCollectionPortlet {
    border: none;
    margin-top: 0;
}

#content .rtCollectionPortlet .portletHeader {
    background-color: transparent;
    border: none;
    text-transform: none;
    margin-bottom: 1em;
    padding-right: 0;
}

#content .rtCollectionPortlet .portletHeader A {
    color: #903;
    border-bottom: 1px solid #903;
    font-weight: bold;
    display: block;
    width: 100%;
}

#content .rtCollectionPortlet .portletItem {
    border: none;
    padding: 0 0 0 1em;
}

#content .rtCollectionPortlet .portletItem + .portletItem {
    padding-top: 1em;
}

#content .rtCollectionPortlet .portletFooter {
    background: none;
    border: none;
}

/*
 * Faculty listing
 */

.facultyStaffDirectory .classificationListing
{
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
}

.facultyStaffDirectory .classificationListing .listing
{
    display: inline-block;
}

.facultyStaffDirectory .classificationListing .listing.row > * {
    display: table-cell;
    position: static;
    vertical-align: top;
}

.facultyStaffDirectory .classificationListing .listing.row > div > a {
    display: inline-block;
    height: 135px;
    width: 100px;
    overflow-y: hidden;
    margin-right: 5pt;
}

body.portaltype-fsdclassification #content .documentActions
{
    display: none;
}

/*
 * Person view
 */

#content .vcard > .row
{
    float: left;
    padding: 0 1em 1em 0;
    background-color: white;
    width: 170px;
}

#content .personView .row .websites {
    overflow: hidden;
}

#content .personView .headshot
{
    position: static;
    text-align: left;
    width: 160px;
    overflow-x: hidden;
}

#content .personView .headshot img.photo
{
    border: none;
    margin-bottom: 1em;
}

#content .vcard > .visualClear
{
    display: none;
}

#content .personView .biography > span > UL {
    padding-left: 1.5em;
    overflow: hidden;
}

body.portaltype-fsdperson #content .documentActions
{
    display: none;
}

/* Bibliography */

body.portaltype-bibliographyfolder #parent-fieldname-description
{
    display: none;
}
